/* Start arrivals  */


.title-card {
  font-size: 48px;
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2% 0px;

}

.card {

  display: flex;
  justify-content: space-between;

  .card-item {
    transition: all 0.3s ease-out;
    margin: 10px;
  }

  .card-item:hover {
    transform: translateY(-10px);
  }

  .card-image {
    border-radius: 20px;

  }

  .card-title {
    font-size: 20px;
  }

  .rating-value {
    margin-left: 8px;
  }

  .card-price {
    font-size: 24px;
  }


  .discount {
    color: rgba(0, 0, 0, 0.4);
  }

  .discount-value {
    border-radius: 62px;
    padding: 6px 14px;
    background-color: rgb(245, 189, 189);
    font-size: 12px;
    color: rgba(255, 51, 51, 1);
  }
}

.all-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 52px;
  border-radius: 62px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 1);
  transition: 0.3s;
}

.all-button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.line-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.line {
  width: 100%;
  max-width: 1440px;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* End arrivals  */

@media screen and (max-width: 391px) {
  .container-arrivals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .card {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: auto;
  } */

  .title-card {
    font-size: 32px;
  }

  .card-item {
    margin-left: 1rem;
  }

  .all-button {
    width: 358px;
    margin-left: 0px;
    position: relative;
  }
}