/* colors.css */

:root {
  --black-color: #000000;
  --background-color-gray: #f2f0f1;
  --white-color: #ffffff;
  --yellow-color: #ffc633;
  --red-color: #ff33331a;
  --green-color: #01ab31;
  --text-color:rgba(0, 0, 0, 0.6);
}
