/* Start Browse by dress style */

.styles {
  margin: 60px 100px;
  padding: 1rem;
  background-color: var(--background-color-gray);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styles-title {
  text-align: center;
  font-size: 48px;
  margin: 40px auto;
}

.styles-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}
.styles-img {
  transition: all 0.3s ease-out;
}
.styles-img:hover {
  transform: translateY(-10px);
}

/* End Browse by dress style */
