.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin: auto;
  display: flex;
  padding: 14px 0px;

  .customers-title {
    font-size: 48px;
    align-items: center;
  }

}


.customers-all {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: space-between;
  margin: 2rem 0px;

}

.customers-card {
  padding: 2%;
  margin: 5px;
  border-radius: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-out;
  flex: 0 0 auto;
  width: 30%;
  scroll-snap-align: start;
}



.customers-card:hover {
  transform: translateY(-10px);
}



@media screen and (max-width: 576px) {
  .customers-all {
    display: flex;
    align-items: center;
    padding: 16px;
  }

  .customers-card {
    margin: 10px;
  }

  .arrows .customers-title {
    font-size: 36px;

  }

  .customer-p {
    font-size: 14px;
    color: var(--text-color);
  }

  .arrows {
    align-items: end;
    padding: 10px;
  }

  .two-arrows {
    display: flex;
  }

  .customers-all {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .customers-card {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  }


}