/* Start Find Chothes bottom of the header */
.container-arrivals .content {
  display: flex;
  justify-content: space-between;
}

.container-plans {
  background-color: var(--background-color-gray);
  position: relative;
  /* max-height: 663px; */

}

.container-first {
  max-width: 47%;

  .container-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 5px;
  }

  .container-paragraph {
    max-width: 88%;
    font-size: 1rem;
    color: var(--text-color);
    padding: 2% 0%;
    margin-bottom: 5px;
  }

  .shop-now {
    width: 210px;
    padding: 16px;
    border-radius: 62px;
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    transition: 0.5s;
    margin-bottom: 5px;
  }

  .prices {
    display: flex;
    justify-content: space-between;

  }

  .price {
    font-size: 40px;

  }

  .subtitle {
    color: var(--text-color);
  }


}

.models-star {
  position: relative;
}

.black-star {
  position: absolute;
  right: 138%;
  top: 54%;
  transition: 0.3s;
}

.black-star:last-of-type {
  left: 70%;
  top: 8%;
}


.black-star:hover {
  transform: rotatex(-50deg) rotateY(-20deg);
  background-color: rgb(228, 225, 225);
}

.stars-mobile {
  display: none;
}

.black-star:hover {
  transform: rotatex(-50deg) rotateY(-20deg);
  background-color: rgb(228, 225, 225);
}

.container-title {
  height: 10%;
}

.container-paragraph {
  height: 10%;
}

.shop-now:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border: solid 1px var(--black-color);
  padding: 1%;
}


/* End Find Chothes bottom of the header */

/* Mobile */
@media (max-width: 391px) {
 .container-first .container-title  {
  font-size: 36px;
 }
 

  .container-title .content {
    font-size: 36px;
    /* font-size: 36px;
    margin-left: 16px;
    margin: 16px;
    max-width: 315px; */
  }

  .container-paragraph {
    /* max-width: 358px;
    font-size: 14px;
    text-align: center;
    margin: 0px; */
  }

  /* .stars {
    display: none;
  } */

  .shop-now {
    /* width: 358px;
    margin-left: 0px; */
  }

  .prices {
    /* max-width: 100%;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    flex: 2; */
    /* display: flex;
    flex-direction: row; */
  }

  .price-last {
    /* flex: 3;
    align-self: center;
    margin-left: 25%; */
  }

  .stars-mobile {
    display: block;
  }

  .stars-mobile {
    position: relative;
  }

  .black-star-mobile {
    display: block;
    position: absolute;
    left: 15px;
    top: 150px;
    width: 44px;
  }

  .black-star-mobile:last-of-type {
    display: block;
    position: absolute;
    left: 75%;
    width: 76px;
    top: 10%;
  }
}