/* Start Find Chothes bottom of the header */

.container-plans {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-gray);
  position: relative;
  flex-wrap: wrap;
  height: 663px;
}
.models-img {
  width: 578px;
}
.models-mobile-img {
  display: none;
}

.black-star {
  position: absolute;
  left: 50%;
  top: 270px;
  transition: 0.3s;
}
.black-star-mobile {
  display: none;
}
.black-big-star-mobile {
  display: none;
}
.black-star:hover {
  transform: rotatex(-50deg) rotateY(-20deg);
  background-color: rgb(228, 225, 225);
}
.black-big-star {
  position: absolute;
  left: 86%;
  top: 100px;
  transition: 0.3s;
}
.black-big-star:hover {
  transform: rotatex(-50deg) rotateY(-20deg);
  background-color: rgb(228, 225, 225);
}

.container-title {
  max-width: 577px;
  max-height: 173;
  font-size: 64px;
  margin: 3rem 100px;
}

.container-paragraph {
  width: 545px;
  margin: 14px 100px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.shop-now {
  width: 210px;
  height: 52px;
  border-radius: 62px;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  transition: 0.5s;
  margin: 14px 100px;
}
.shop-now:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  border: solid 1px var(--black-color);
}

.prices {
  margin: 14px 100px;
  display: flex;
  justify-content: space-between;
  max-width: 40%;
}
.price {
  font-size: 40px;
  font-weight: 700;
}

.subtitle {
  color: rgba(0, 0, 0, 0.6);
}

/* End Find Chothes bottom of the header */

/* Mobile */
@media (max-width: 391px) {
  .container-plans {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: none;
    margin: 0 auto;
    padding: 0px 16px;
    position: relative;
  }
  .container-title {
    font-size: 36px;
    margin-left: 16px;
  }
  .container-paragraph {
    max-width: 358px;
    font-size: 14px;
    text-align: center;
    margin: 0px;
  }
  .stars {
    display: none;
  }
  .shop-now {
    width: 358px;
    margin-left: 0px;
  }
  .prices {
    max-width: 100%;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    /* display: flex;
    flex-direction: row; */
  }
  .price-last {
    flex: 3;
    align-self: center;
    margin-left: 25%;
  }
  .models-img {
    display: none;
  }
  .models-mobile-img {
    display: block;
    max-width: 100%;
  }
  .black-star-mobile {
    display: block;
    position: absolute;
    margin-left: 15px;
    margin-top: 150px;
    width: 44px;
  }
  .black-big-star-mobile {
    display: block;
    position: absolute;
    left: 75%;
    width: 76px;
    margin-top: 10%;
  }
}
