.input-card {
  background-color: var(--black-color);
  color: var(--white-color);
  margin: 40px 100px;
  height: 180px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.input-title {
  max-width: 551px;
  font-size: 40px;
}
.input-form {
  background-image: url("../assets/icons/email-icon.png");
  background-repeat: no-repeat;
  background-position: 16px;
  padding-left: 3rem;
}

.input-form,
.input-subscribe {
  width: 349px;
  height: 48px;
  border-radius: 62px;
  margin: 5px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.invalid {
  border-color: red;
}

/* footer */
.footer-cards {
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-p {
  font-size: 14px;
}

.footer-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}