/* first section footer */

.container {
  position: relative;
}

.input-card {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  top: 128px;
  height: 50%;
  width: 50%;
  background-color: var(--background-color-gray);
  z-index: 0;
}

.container::before {
  left: 0;
}

.container::after {
  right: 0;
}

.input-form {
  background-image: url("../assets/icons/email-icon.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 16px;
  padding-left: 3rem;
}

.input-form,
.input-subscribe {
  width: 349px;
  height: 48px;
  border-radius: 62px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.input-subscribe:hover {
  cursor: pointer;
  transition: 0.5s;
  color: var(--black-color);
}

.input-subscribe:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border: solid 1px var(--white-color);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.invalid {
  border-color: red;
}

/* End section footer */

/* footer */
.footer-cards {
  margin: 40px 100px;
}

.footer-p {
  font-size: 14px;
  max-width: 253px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 12px;
}

.footer-shop {
  max-width: 71%;
  line-height: 2;
  margin-right: 50px;
}

.footer-icons {
  transition: 0.3s;
}

.footer-icons-face {
  filter: invert(100%);
  transition: 0.3s;
}

.footer-icons:hover {
  filter: invert(100%);
  width: 2rem;
  cursor: pointer;
}

.footer-icons-face:hover {
  filter: invert(0%);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-gray);
  /* line-height: 1.5; */
  padding: 3rem 0rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 2;


}

.footer-column ul li a {
  font-size: 1rem;
  text-decoration: none;
}

.footer-column ul li {
  list-style: none;
}
.last-p {
  font-size: 14px;
}

.last {
  background-color: var(--background-color-gray);
  color: var(--text-color);
  padding: 20px 5%;
}

/* bar underline */
.last {
  position: relative;
}

.last::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1240px;
  height: 1px;
  background-color: #ccc;
}

@media screen and (max-width: 391px) {
  .container {
    margin: 0px 10px;
  }

  .input-card {
    display: flex;
    flex-direction: column;
    height: 293px;
  }

  .input-title {
    font-size: 32px;
  }

  .footer {
    display: block;
    text-align: start;
  }

  .footer-shop {
    margin: 0px 10px;
    max-width: 100%;
  }

  .footer-p {
    max-width: 357px;
  }

  .last {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .last-p {
    line-height: 1;
  }

  .last::before {
    width: 358px;
  }
}