.menu {
  display: none;
}

/* Start Header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px 24px;
  background-color: var(--white-color);
  margin: 14px 0px;
  flex-wrap: wrap;
}
.h1 {
  src: url("../assets/fonts/IntegralFC-Regular.ttf");
  font-size: 2rem;
}
.lupa {
  display: none;
}

.header-nav ul {
  list-style: none;
  display: flex;
}
.header-nav li {
  display: flex;
  margin-left: 1rem;
}

.nav-link {
  text-decoration: none;
  color: var(--black-color);
}
.nav-link img {
  margin-left: 5px;
}

.input-search {
  width: 577px;
  height: 48px;
  border-radius: 62px;
  padding: 12px, 16px, 12px, 16px;
  border: none;
  background-image: url("../assets/icons/search.png");
  background-repeat: no-repeat;
  background-color: var(--background-color-gray);
  background-position: 16px;
}

.input-search[type="text"] {
  padding-left: 50px;
}

.icon-person {
  margin-left: 10px;
}
.icons-car-person {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* End  Header */

/* mobile */

@media screen and (max-width: 390px) {
  .header-container {
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .icons-car-person {
    gap: 12px;
  }
  .icon-person {
    margin: 0px;
  }
  .input-search {
    display: none;
  }
  .lupa {
    display: block;
    height: 23.27px;
  }
}
