/* Start logos with brands */
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 25px 0px;

}

.logos-zara {
  display: none;
}


/* End logos with brands */
@media screen and (max-width: 391px) {

  .logo {
    display: flex;
    justify-content: space-between;
    max-width: 390px;

  }

  .logos-zara {
    display: block;
    height: 16px;
  }

  .logos {
    width: 17%;

  }

  .logo-desktop {
    display: none;
  }
}