/* Start logos with brands */
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 25px 0px;

}

.logo-zara {
  display: none;
}



/* End logos with brands */
@media screen and (max-width: 391px) {
  .logo {
    
   
  }

  .logo img {
   
  }
}