/* Start logos with brands */
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 25px 0px;

}

.logos-zara {
  display: none;
}


/* End logos with brands */
@media screen and (max-width: 576px) {

  .logo .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
  }

  .logos-zara {
    display: block;
  }

  .logos {
    height: 20px;
  }

  .logo-desktop {
    display: none;
  }
}