* {
  margin: 0;
  padding: 0;
  font-family: "Satoshi";

  h1,
  h4 {
    font-family: "IntegralFC-Regular";
  }

  h2 {
    font-family: "Satoshi";
    font-weight: bold;
  }
}

/* Import Satoshi font */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Import IntegralFC-Regular font */
@font-face {
  font-family: "IntegralFC-Regular";
  src: url("../assets/fonts/Integralcf-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.content {
  width: 1240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media(max-width: 1240px) {
  .content {
    width: 100%;
  }
}

.column-50 {
  /* flex: 0 0 50%; */
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-100 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.separador {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* margin: 1rem 0px; */
  padding: 0px 5px;

}

@media(max-width: 576px) {
  .column-50 {
    flex: 0 0 100%;
    max-width: 98%;
  }
    .content {
      width: 96%;
    }
}

.separador {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2rem 0px;
}