* {
  margin: 0;
  padding: 0;
  font-family: "Satoshi";
  h1 {
    font-family: "IntegralFC-Regular";
  }
  h2 {
    font-family: "Satoshi";
    font-weight: bold;
  }
}

/* Import Satoshi font */
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Import IntegralFC-Regular font */
@font-face {
  font-family: "IntegralFC-Regular";
  src: url("../assets/fonts/IntegralFC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
