/* Start logo black with icon close */

#top-bar {
  background-color: var(--black-color);
  padding: 10px 0;
}

#top-bar .content {
  justify-content: space-around;
}

.top-text {
  color: var(--white-color);
}


.sign {
  text-decoration: underline;
  cursor: pointer;
}

.top-close {
  background-color: black;
  border: none;
  cursor: pointer;

}

/* End logo black with icon close */

/* mobile */

@media (max-width: 390px) {

  /* black top-bar */
  .top-text {
    font-size: 12px;
  }

  .top-close {
    display: none;
  }
}